body {
    background: #d8e9ff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.judul-web {
    background: #005bbb;
    color: white;
    padding: 15px;
    margin: 0;
}

.container {
    background: white;
    width: 350px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px;
}

button {
    padding: 8px 15px;
    margin: 4px;
    background: #005bbb;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0076e3;
}

.menu {
    background: #005bbb;
    padding: 12px;
}

.menu button {
    background: transparent;
    border: 2px solid white;
}

.menu a {
    color: #ffeb3b;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.page {
    display: none;
    margin-top: 30px;
}

.page.active,
#home {
    display: block;
}